{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Episode Collector</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 

    

</head>
<body>
    <nav><ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'episodes_index' %}">All Episodes</a></li>
        {% if user.is_authenticated %}
        <!-- My Episodes-->
        <li><a href="{% url 'episode_create' %}">Add Edpisode</a> </li>
        <li><a href="{% url 'profile'%}">My Collections</a> </li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul></nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class = 'page-footer'>
    <div class = 'right'>All Rights reserved &copy; 2022 The Episode Collector &nbsp; </div>
</footer>
</body>
</html>