body {
    font-family: sans-serif;
    font-size: 20px;
    background:rgb(172, 206, 240);
    max-width: 1024px;
}


h1 {
    color: blue;
}

nav {
    
    padding: 2%;
    font-size: 28px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 3px;
}

nav a {
    text-decoration: none;
    padding: 15px;
}

a {
    text-decoration: none;
    margin-right: 8px;
    color:darkblue;
    padding: 4px;
}

a:hover {
    
    background:azure;
    border-radius: 10px;
}

nav a:hover {
    font-weight: 600;
    
}

#detail-details {
    width: 100%;
    background:rgb(113, 200, 230);
    max-width:1024px;
}

#episode-edit-delete {
    display:flex;
    flex-direction: row-reverse;
    padding: 5px;
}

#detail-main {
    display: flex;
    flex-direction: row;
    
}

#detail-characters, #detail-reviews {
    display: flex;
    flex-direction: column;
    padding: 5%;
    min-width: 325px;
    margin-top:10px;
}



.card-content {
    border: solid;
}

.card-content:hover {
    color: rgb(172, 206, 240);
    background:darkblue;
}

.index-episode-title {
    font-size: 22px;
    font-weight: 600;
}

.index-series-title {
    font-size: 20px;
}

.index-season-ep-info {
    font-size: 16px;
}

.index-ep-headline {
    font-style: italic;
}