{% extends 'base.html' %}
{% block content %}
<h1>{{ episode.series_title}} - "{{episode.ep_title}}"</h1>
<h3>Season {{ episode.ep_season}}, Episode {{ episode.ep_number }}</h3>

<div class="card-action">
    <a href="{% url 'episode_update' episode.id %}">Edit</a>
    <a href="{% url 'episode_delete' episode.id %}">Delete</a>
</div>

<form action="{% url 'add_review' episode.id %}" method="POST">
    {% csrf_token %}
    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add Review">
  </form>

{% for review in episode.review_set.all %}
<b>{{review.headline}}</b>
<p>{{review.content}}</p>
{% endfor %}
{% endblock %}